@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-md-4 col-xs-12 block-left">
        @{Html.RenderAction("ListAuthor", new { id = 1 });}
        @{Html.RenderAction("ListPerfomer", new { id = 1 });}
        @{Html.RenderAction("ListObserver", new { id = 1 });}
        @{Html.RenderAction("ListArchive", new { id = 1 });}
        @{Html.RenderAction("ListObserverArchive", new { id = 1 });}
    </div>
    <div class="col-md-8 col-xs-12 block-right">
        @*@RenderBody();*@

    </div>
</div>