@{
    ViewBag.Title = "Список групп";
}

<h2>Список Групп</h2>

<p>
    @Html.ActionLink("Создать новую группу", "GroupCreate")
</p>
<table class="table">
    <tr>
        <th>Название</th>
        <th>Список участников</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <p>@item.Name</p>
        </td>
        <td>
            @foreach (var itemgroup in item.User)
            {
                <p>@itemgroup.Name</p>
            }
        </td>
        <td>
            @Html.ActionLink("Редактировать", "GroupEdit", new { id = item.Id })
        </td>
    </tr>
}

</table>
