
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}

    <div>
        <h2>Помощь по администрированию системы</h2>
        <p>
            Доброго времени суток, здесь представленно краткое руководство по администрированию системы.
            Первым делом мы с помощью меню перейдем в раздел "Администрирование"
        </p>
        <p>1. меню</p>
        <p>2. кнопка создания пользователей</p>
        <p>3. две кнопки одна это редактирование пользователя, а вторая проспотр деталей о этом пользователе</p>
        <img src="~/Content/Главное окно администрирования.png" class="img-responsive image" />
        <p> давайте перейдем к созданию пользователя</p>
        <p>1. поле для ввода логина пользователя, имя для входа в систему</p>
        <p>2. поле для ввода пароля </p>
        <p>3. поле для ввода пароля повторно</p>
        <p>4. поле для ввода ФИО пользователя системы</p>
        <p>5. поле для ввода должности пользователя системы</p>
        <p>6. выбор из списка пользователей те кому созданный пользователь сможет дать задачу для выбора нескольких пользователей надо зажать клавишу Ctrl</p>
        <p>7. выбор из списка пользователей те кто сможет поставить задачу созданному пользователю для выбора нескольких пользователей надо зажать клавишу Ctrl </p>
        <p>8. выбор из списка пользователей те кто сможет отслеживать поставленные задачи созданные, созданным пользователем для выбора нескольких пользователей надо зажать клавишу Ctrl </p>
        <p>9. выбор из списка пользователей те которых созданный пользователь сможет отслеживать для выбора нескольких пользователей надо зажать клавишу Ctrl </p>
        <p>10. выбор из списка групп те кому созданный пользователь сможет дать задачу для выбора нескольких групп надо зажать клавишу Ctrl</p>
        <p>11. выбор из списка групп те кто сможет поставить задачу созданному пользователю для выбора нескольких групп надо зажать клавишу Ctrl </p>
        <p>12. выбор из списка групп те в которых будет состоять созданный пользователь для выбора нескольких групп надо зажать клавишу Ctrl </p>
        <p>13. кнопка для создание пользователя</p>
        <img src="~/Content/создание пользователя.png" class="img-responsive image" />
        <p>Вернемся на главную страницу администрирования и нажмем на кнопку детали</p>
        <p>1. кнопка редактирования пользователя</p>
        <p>2. кнопка при нажатие которая вернет вас на главную страницу администрирования</p>
        <img src="~/Content/детали о пользователе.png" class="img-responsive image" />
        <p>перейдем в редактировани пользователя нажав соотвествующию кнопку</p>
        <p>1. поле для изменения логина пользователя, имя для входа в систему</p>
        <p>2. поле для изменения пароля </p>
        <p>3. поле для изменения ФИО пользователя системы</p>
        <p>4. поле для изменения должности пользователя системы</p>
        <p>5. выбор из списка пользователей те кому созданный пользователь сможет дать задачу для выбора нескольких пользователей надо зажать клавишу Ctrl</p>
        <p>6. выбор из списка пользователей те которых созданный пользователь сможет отслеживать для выбора нескольких пользователей надо зажать клавишу Ctrl </p>
        <p>7. выбор из списка групп те кому созданный пользователь сможет дать задачу для выбора нескольких групп надо зажать клавишу Ctrl</p>
        <p>8. выбор из списка групп те в которых будет состоять созданный пользователь для выбора нескольких групп надо зажать клавишу Ctrl </p>
        <p>9. отметки об правах пользователя: возможность администрировать систему, возможность войти в систему, возможность просмотреть отчетность системы</p>
        <p>10. кнопка для сохранения изменений</p>
        <img src="~/Content/редактирование пользователя.png" class="img-responsive image" />
        <p>далее мы перейдем к группам с помощь меню нажав соотвественную кнопку</p>
        <p>1. кнопка для создания группы</p>
        <p>2. кнопка для редактирования группы</p>
        <p>3. кнопка для просмотра информации о группе</p>
        <img src="~/Content/группы.png" class="img-responsive image" />
        <p>далее мы перейдем к созданию группы с помощь нажатия по соотвествующей кнопке</p>
        <p>1. поле для ввода названия группы</p>
        <p>2. выбор пользователей для группы для выбора нескольких пользователей надо зажать клавишу Ctrl</p>
        <p>3. кнопка создания группы </p>
        <img src="~/Content/создание групп.png" class="img-responsive image" />
        <p>далее мы перейдем к деталям группы с помощь нажатия по соотвествующей кнопке, но сначало вернемся на страницу с группами</p>
        <p>1. кнопка для редактирования группы</p>
        <p>2. кнопка для удаления группы</p>
        <p>3. кнопка для возрата на страницу с списком групп</p>
        <img src="~/Content/детали о группе.png" class="img-responsive image" />
        <p>далее мы перейдем к редактированию группы с помощь нажатия по соотвествующей кнопке</p>
        <p>1. поле для изменения названия группы</p>
        <p>2. выбор пользователей для группы для выбора нескольких пользователей надо зажать клавишу Ctrl</p>
        <p>3. кнопка для сохранения изменений группы </p>
        <img src="~/Content/редактирование групп.png" class="img-responsive image" />
    </div>