
@{
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
    ViewBag.Title = "Основы";
}
    <div>
        <h2>Помощь по основы работы с системой</h2>
        <p>
            Доброго времени суток, здесь представленно краткое руководство по работе с системой.
            Начнем с основных элементов.
        </p>
        <p>1. это меню системы, функции будут отличаться в зависимости от ваших правах в системе</p>
        <p>2. списки с задачами при нажатие на плюс или минус списки с задачами появятся или спрячутся</p>
        <p>3. рабочия область системы</p>
        <img src="~/Content/Главное окно.png" class="img-responsive image" />
        <p>Сейчас рассмотрим стандартных функций системы.</p>
        <p>Мы откроем вкладку с задачами как исполнитель и выберим нужную задачу</p>
        <p>1. Номер задачи</p>
        <p>2. иконка с уведомлением</p>
        <p>3. Название задачи</p>
        <p>4. ФИО автора</p>
        <p>5. статус задачи для вас</p>
        <p>6. время до окончания задачи</p>
        <p>7. Описание задачи</p>
        <p>8. дата начала задачи</p>
        <p>9. дата окончания задачи</p>
        <p>10. кнопка скачивания файла который прикрепил автор</p>
        <p>11. Общий статус задачи</p>
        <p>12. ФИО исполнителя</p>
        <p>13. Кнопка скачивания файла который прекрепили вы</p>
        <p>14. кнопка для добавления файла</p>
        <p>15. обновить файл при добавленом файле</p>
        <p>16. комментарии</p>
        <p>17. Автор комментария</p>
        <p>18. текст комментария</p>
        <p>19. дата комментария</p>
        <p>20. кнопка создания комментария</p>
        <img src="~/Content/Работа с задачей.png" class="img-responsive image"/>
    </div>
