
@{
    ViewBag.Title = "Отчетность";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}
<div>
    <h2>Помощь по отчетности</h2>
    <p>
        Доброго времени суток, здесь представленно краткое руководство по отчетности в системе.
        Первым делом мы с помощью меню перейдем в раздел "Отчет"
    </p>
    <p>1. Два поля для выбора даты начала и окончания отчетного периода и кнопка для формирования этого отчета</p>
    <p>2. 3 кнопки для автоформирования отчета по заранее определенным периодам</p>
    <img src="~/Content/Отчет.png" class="img-responsive image" />
    <p>Отчет в основном состоит из таблицы в которой выводится список задач которые были не выполнены</p>
</div>


