
@{
    ViewBag.Title = "TaskCreatEdit";
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}

    <div>
        <h2>Помощь по создание и редактирование задач</h2>
        <p>
            Доброго времени суток, здесь представленно краткое руководство по созданию и редактированию задач.
            Первым делом мы с помощью меню перейдем в раздел "Создать задачу"
        </p>
        <p>1. поле для ввода названия задачи</p>
        <p>2. поле для ввода описания задачи которое можно растягивать зза правый нижний угол</p>
        <p>3. поле для выбора даты окончания задачи</p>
        <p>4. выбор файла для добавления в задачу</p>
        <p>5. выбор испольнителей задачи для выбора нескольких исполнителей надо зажать клавишу Ctrl</p>
        <p>6. выбор групп испольнителей задачи для выбора нескольких групп исполнителей надо зажать клавишу Ctrl</p>
        <p>7. кнопка создания задачи </p>
        <img src="~/Content/Создание задач.png" class="img-responsive image" />
        <p>Сейчас рассмотрим стандартных функций системы.</p>
        <p>Мы откроем вкладку с задачами как автор и выберим нужную задачу</p>
        <p>1. кнопка для редактирования задачи</p>
        <img src="~/Content/Переход на редактирование.png" class="img-responsive image" />
        <p>1. поле для изменения названия задачи</p>
        <p>2. поле для изменения описания задачи</p>
        <p>3. поле для изменения даты окончания задачи</p>
        <p>4. выбор файла для изменения в задаче, если файл будет не выбран то файл задачи не изменится</p>
        <p>5.кнопка для сохрания изменений</p>
        <img src="~/Content/Редактирование.png" class="img-responsive image" />
    </div>

